1. Toggle Driver Seat Adjustment via SWP
The Vehicle shall Get Touchpoint to Toggle Driver Seat Adjustment with [OIDO - 956234] Driver Seat Adjustment request via SWP
2. Toggle Driver Seat Adjustment via Mobile APP
The Vehicle shall Get Touchpoint to Toggle Driver Seat Adjustment with [OIDO - 956234] Driver Seat Adjustment request via Mobile APP
3. Toggle Passenger Seat Adjustment via Buttons
The Vehicle shall Get Touchpoint to Toggle Passenger Seat Adjustment via Weel Buttons
4. Toggle Role managment via SWP
When the vehicle applicability is “taxi” the Vehicle shall Get Touchpoint to create role and set policies for the Passenger via SWP

5. Display Passenger Seat Position Adjustment Status via SWP (deleted 2.2) 
When [OIDO - 936335] Passenger Seat Position Adjustment Status The Vehicle Systems shall [OIDO - 936335] Passenger Seat Position Adjustment Status via SWP
6. Display Passenger Seat Position Adjustment Status via Mobile APP (no data 2.2) 
When [OIDO - 936335] Passenger Seat Position Adjustment Status The Vehicle Systems shall display [OIDO - 936335] Passenger Seat Position Adjustment Status via Mobile APP
7. Restriction for Display Passenger Seat Position Adjustment Status via SWP
Where Front passenger seat power adjustment presence The Vehicle Systems shall Display [OIDO - 936335] Passenger Seat Position Adjustment Status via SWP
8. Restriction for Display Passenger Seat Position Adjustment Status via MobileAPP
Where Front passenger seat power adjustment presence The Vehicle Systems shall Display [OIDO - 936335] Passenger Seat Position Adjustment Status via MobileAPP
9. Display Passenger Seat Position Adjustment Status (no data 2.2)
The Vehicle Systems shall Display [OIDO - 936335] Passenger Seat Position Adjustment Status via SWP.

10. Restriction Control Passenger Seat Position while R
While the [VEHICLE:OIDO - 849261] is in R mode, the vehicle shall disable all seat adjustments.
11. Adjust Passenger Seat Position via SWP
When [OIDO - 956235] Passenger Seat Adjustment request is received from SWP the vehicle shall adjust the seat position according to the selected mode: forward, backward, up, down, backrest tilt forward, or backrest tilt backward.
12. Adjust Passenger Seat Position via Mobile Phone
When [OIDO - 956235] Passenger Seat Adjustment request is received via Mobile Phone The vehicle shall adjust the seat position according to the selected mode: forward, backward, up, down, backrest tilt forward, or backrest tilt backward.
13. Stop Adjustment Passenger Seat Position when Rear door Not Closed
When [OIDO - 861693] Rear Door Open Status is not Closed the vehicle shall stop the seat adjustment
14. Send Passenger Seat Motor Fault
When [OIDO - 1226565] Passenger Seat Motor Malfunction Status is True the vehicle shall provide [OIDO - 1245908] Passenger seat adjustment malfunction Status
15. Provide Seat position adjustment status
While the Passenger Seat is adjusted, the Vehicle Systems shall provide [OIDO - 936335] Passenger Seat Position Adjustment Status

16. Restriction Control Passenger Seat Position
While the [VEHICLE:OIDO - 849261] is in R mode, the vehicle shall disable all seat adjustments.
17. Adjust Driver Seat Position via SWP
When [OIDO - 956234] Request Driver Seat Adjustment is received, the vehicle shall adjust the seat position according to the selected mode: forward, backward, up, down, backrest tilt forward, or backrest tilt backward.
18. Adjust Driver Seat Position via Mobile Phone
When [OIDO - 956234] Request Driver Seat Adjustment is received, the vehicle shall adjust the seat position according to the selected mode: forward, backward, up, down, backrest tilt forward, or backrest tilt backward.
19. Adjust Driver Seat Position via Voice Assistant
When Voice command is received, the vehicle shall adjust the seat position according to the selected mode: forward, backward, up, down, backrest tilt forward, or backrest tilt backward.
20. Stop Adjustment Driver Seat Position when doors open
When [OIDO - 875717] All doors Status (RL/RR) is opened during seat movement, the vehicle shall stop the seat adjustment.
21. Limit Adjustment Driver Seat Position in D-mode
While [OIDO - 849261] Current gear Status is in D (Drive) mode, the Vehicle shall move the driver's seat more slowly and by no more than X cm
22. Stop Adjustment Driver Seat Position when R, N, D mode
When [OIDO - 849261] Current gear Status is R,N, D during seat movement, the vehicle shall stop the seat adjustment.
23. Automatic Adjust Driver Seat Position 
When [OIDO - 956234] Request Driver Seat Adjustment is received, the vehicle shall adjust the seat position according to the selected mode: forward, backward, up, down, backrest tilt forward, or backrest tilt backward.
24. Send Driver Seat Motor Fault
When [OIDO - 1181020] Driver Seat Motor Malfunction Status = "True" is received, the vehicle shall send activation signal for notifications about seat motor fault.

25. Determine Passenger's Seat Motor Malfunction
The Vehicle Systems shall determine [OIDO - 1226565] Passenger Seat Motor Malfunction Status during operation (forward/backward or height adjustments)

26. Display notification via SWP
When the passenger seat motor malfunction is detected ([OIDO - 1226565] Passenger Seat Motor Malfunction Status = "True"), the Vehicle shall display notification (as pop-up) via SWP
27. Display notification via Mobile phone
When the passenger seat motor malfunction is detected ([OIDO - 1226565] Passenger Seat Motor Malfunction Status = "True"), the Vehicle shall display notification (as pop-up) via Mobile phone


28. Heater activation
The System shall activate the heater.
29. Heater deactivation
The System shall not activate the heater.
30. Autopilot enable in running engine
While the engine is running, the System shall enable autopilot.
31. Autopilot disable in running engine
While the engine is running, the System shall not enable autopilot.
32. Allow seat adjustment in Parking
While Parking, the System shall adjust the seat position.
33. Forbid seat adjustment in Cruising
While Cruising, the System shall not adjust the seat position.
34. Allow seat adjustment when RearDoorOpen (conflict with DoorOpen)
While RearDoorOpen, the System shall adjust the seat position.
35. Forbid seat adjustment in VehicleMovingState
While VehicleMovingState, the System shall not adjust the seat position.
36. Forbid seat adjustment when DoorOpen
While DoorOpen, the System shall not adjust the seat position.
37. Forbid seat steering wheel when DoorOpen
While DoorOpen, the System shall not adjust the steering wheel position.